body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
}

#background {
  width: 1200px;
  height: 750px;
  background-image: url("assets/background2.png");
  position: absolute;

  overflow: hidden;
}

#hero {
  width: 50px;
  height: 50px;
  background-image: url("assets/hero.png");
  position: absolute;
  left: 575px;
  top: 650px;
}

#missiles {
  width: 1200px;
  height: 750px;
  position: absolute;
}

.missile1 {
  width: 10px;
  height: 28px;
  background-image: url("assets/missile1.png");
  position: absolute;
}

#enemies {
  width: 1200px;
  height: 750px;
  position: absolute;
}

.enemy {
  width: 50px;
  height: 50px;
  background-image: url("assets/enemy.png");
  position: absolute;
}

#score {
  position: absolute;
  top: 50px;
  left: 70px;
  font-size: 40px;
  z-index: 2;
  color: yellow;
}

#highScore {
  position: absolute;
  top: 50px;
  right: 70px;
  font-size: 40px;
  z-index: 2;
  color: yellow;
}

#gameOver,
#newGame,
#seeYa {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  font-size: 55px;
  color: yellow;
  text-align: center;
}

#newGame {
  display: flex;
  justify-content: center;
}

#newGame p {
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.btn {
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border: none;
  padding: 10px;
  margin: 5px;
  color: yellow;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn:focus {
  outline: none;
}

.yes {
  background-color: green;
}

.yes:active {
  transform: translateX(3px) translateY(3px);
  -webkit-transform: translateX(3px) translateY(3px);
  -moz-transform: translateX(3px) translateY(3px);
  -ms-transform: translateX(3px) translateY(3px);
  -o-transform: translateX(3px) translateY(3px);
}

.no {
  background-color: red;
}

.no:active {
  transform: translateX(3px) translateY(3px);
  -webkit-transform: translateX(3px) translateY(3px);
  -moz-transform: translateX(3px) translateY(3px);
  -ms-transform: translateX(3px) translateY(3px);
  -o-transform: translateX(3px) translateY(3px);
}
